.logo{
    width: 150px;
}

.logo_container{
    padding-inline:10px;
    padding-block: 5px;
    border-bottom: 1px solid rgba(231, 239, 255, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-btn{
    font-size: xx-large;
    cursor: pointer;
}


.mobile-navbar-btn{
    background: white;
    border:none
}